/* 
font-family: 'Acme', sans-serif;
font-family: 'Kodchasan', sans-serif;
font-family: 'Stylish', sans-serif;
font-family: 'Kite One', sans-serif;
font-family: 'Meera Inimai', sans-serif; 
font-family: 'Staatliches', sans-serif; 
'ATC Harris', monospace

secondary color: goldenrod
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #131d27;
  font-family: 'Roboto', sans-serif;
  color: #bfbfbf;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  width: 300px;
  height: 100%;
  border-right: solid 2px #494949;
  float: left;
  text-align: right;
  padding: 0 20px;
  padding-bottom: 100px;
  top: 0;
}
header h1 {
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 2.3em;
  margin-top: 0;
  margin-bottom: 10px;
}

.content {
  margin: auto;
  max-width: 1100px;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

article {
  margin-left: 300px;
  border-bottom: solid 2px #494949;
  padding: 20px;
}

article:last-child {
  border-bottom: none;
}

.project-title {
  margin-top: 0;
  margin-bottom: 3px;
  color: white;
}

.project-title a {
  margin-top: 0;
  margin-bottom: 3px;
  text-decoration: none;
  color: white;
}

.project-description {
  color: #efefef;
  font-family: 'Muli', sans-serif;
  line-height: 25px;
}

.project-links {
  float: right;
}

.project-links a {
  line-height: 2em;
  margin-left: 20px;
  text-align: center;
  vertical-align: middle;
  border-radius: 100%;
  width: 2em;
  height: 2em;
  background-color: #797979;
  float: right;
  font-size: 20px;
  color: #131d27;
  transition: background-color .5s ease-in-out;
}

.project-links a:hover {
  background-color: #03a9f9;
}

#project-list {
  list-style: none;
  margin-top: 20px;
}

#project-list a {
  text-decoration: none;
  transition: color .5s ease-in-out;
}

#project-list a:hover {
  text-decoration: none;
  color: goldenrod;
}

#project-list li {
  margin-top: 10px;
}

#project-list div {
  font-size: 1.4em;
  color: white;
}

.project-summary {
  font-family: 'Roboto', sans-serif;
}

.contact-info,
.about-me {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

.about-me {
  margin: 15px 0;
}

.contact-info,
#project-list {
  margin-right: 15px;
}

.contact-info div {
  margin-top: 10px;
}

.contact-info a {
  text-decoration: none;
}
.contact-info a:nth-child(even) {
  margin-left: 25px;
}

.contact-info i {
  color: #797979;
  font-size: 0.85em;
}

a {
  color: #bfbfbf;
}

.imgs-container {
  display: flex;
  justify-content: space-evenly;
}

article > img {
  display: block;
  box-shadow: -10px 10px 20px -5px #131313;
  margin: 0 auto;
}

article > h1 {
  display: inline-block;
}

#snake-iframe {
  margin: 0 auto;
  display: block;
  background-color: white;
  height: 350px;
  width: 350px;
  border: none;
  box-shadow: -10px 10px 20px -5px #131313;
}

#burger-img-container {
  text-align: right;
}

@media only screen and (max-width: 650px) {
  header {
    position: static;
    width: 100%;
    border-right: none;
    border-bottom: solid 2px #494949;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  header > h1 {
    margin-top: 20px;
  }

  #project-list {
    display: none;
  }

  .contact-info {
    margin-right: 0;
  }

  #burger-img {
    display: none;
  }

  .content {
    padding-top: 0;
  }

  article {
    margin: 0;
    padding: 20px;
  }
}
