/* 
font-family: 'Acme', sans-serif;
font-family: 'Kodchasan', sans-serif;
font-family: 'Stylish', sans-serif;
font-family: 'Kite One', sans-serif;
font-family: 'Meera Inimai', sans-serif; 
font-family: 'Staatliches', sans-serif; 
'ATC Harris', monospace

secondary color: goldenrod
*/

* {
  box-sizing: border-box; 
}

body {
  background-color: #333;
  font-family: 'Roboto', sans-serif; 
  color: #afafaf;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  width: 240px;
  height: 100%;
  border-right: solid 2px black;
  float: left;
  text-align: right;
  padding: 0 20px;
  top: 0;
}
header h1 {
  font-family: 'Lato', sans-serif;
  color: #ddd;
  font-size: 2.3em;
  margin-top: 0;
  margin-bottom: 10px;
}

.content{
  margin: auto;
  max-width: 800px;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

article {
  margin-left: 240px;
  border-bottom: solid 2px black;
  padding: 20px;
}

.project-title { 
  margin-top: 0;
  margin-bottom: 3px;
  color: #ddd
}

.project-title a { 
  margin-top: 0;
  margin-bottom: 3px;
  text-decoration: none;
  color: #ddd
}

.project-description {
  color: #ddd;
  font-family: 'Roboto', sans-serif;
}

.project-links { 
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-top: 16px;
}

.project-summary {
  font-family: 'Roboto', sans-serif;
}

.contact-info, .about-me {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

.about-me {
  margin: 15px 0;
}

.contact-info div {
  margin-top: 10px;
}

.contact-info a {
  margin: 0 10px;
  text-decoration: none;
}

a {
  color: #afafaf;
}

.imgs-container {
  display: flex;
  justify-content: space-evenly;
} 

@media only screen and (max-width: 650px) {
    header {
      position: static;
      width: 100%;
      border-right: none;
      border-bottom: solid 2px black;
      padding-bottom: 20px;
      margin-bottom: 20px;
      text-align: center;
    }

    #project-list {
      display: none;
    }

    .content {
      padding-top: 0;
    }

    article {
      margin: 0;
      padding: 20px;
    }
}