* {
  box-sizing: border-box;
}

/* 
####################
Layout CSS 
####################
*/

body {
  background-color: #131d27;
  font-family: 'Roboto', sans-serif;
  color: #bfbfbf;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  width: 300px;
  height: 100%;
  border-right: solid 2px #494949;
  float: left;
  text-align: right;
  padding: 0 20px 50px 20px;
  top: 0;
}

#overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 10;
  background-color: #131d27;
}

.top-nav {
  display: none;
}

.hidden {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

.content {
  margin: auto;
  max-width: 1500px;
  padding-top: 10vh;

  padding-bottom: 10vh;
}

article {
  margin-left: 300px;
  border-bottom: solid 2px #494949;
  padding: 50px;
}

article:last-child {
  border-bottom: none;
}

/* 
####################
Project CSS 
####################
*/

.project-title {
  margin-top: 0;
  margin-bottom: 3px;
  color: white;
}

.project-title a {
  margin-top: 0;
  margin-bottom: 3px;
  text-decoration: none;
  color: white;
}

.project-description {
  color: #efefef;
}

.project-description,
#about-me p {
  font-family: 'Muli', sans-serif;
  line-height: 25px;
}

.project-links {
  float: right;
}

.project-links a {
  line-height: 2em;
  margin-left: 20px;
  text-align: center;
  vertical-align: middle;
  border-radius: 100%;
  width: 2em;
  height: 2em;
  background-color: #797979;
  float: right;
  font-size: 20px;
  color: #131d27;
  transition: background-color 0.3s ease-in-out;
}

.project-links a:hover {
  background-color: #03a9f9;
}

.project-summary {
  font-family: 'Roboto', sans-serif;
}

.imgs-container {
  display: flex;
  justify-content: space-evenly;
}

/* 
####################
Sidenav CSS 
####################
*/

header h1 {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 2.3em;
  margin-top: 0;
  margin-bottom: 0;
}

.nav-link {
  font-size: 1.4em;
  color: white;
}

header a {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

header .active {
  color: goldenrod;
}

header .active:hover {
  color: goldenrod;
}

header a:hover {
  text-decoration: none;
  color: #03a9f9;
}

header > div > a {
  margin-right: 20px;
}

.contact-info,
#about-me {
  font-size: 1em;
}

#about-me {
  text-align: center;
  color: white;
  padding-top: 0;
}

#about-me p {
  font-size: 1.2em;
  font-weight: bold;
}

#project-list {
  list-style: none;
  margin: 20px;
}

#project-list li {
  margin-top: 10px;
}

.contact-info,
#project-list {
  margin-right: 20px;
}

.contact-info div {
  margin-top: 10px;
}

.contact-info a:nth-child(even) {
  margin-left: 25px;
}

.contact-info i {
  color: #797979;
  font-size: 0.85em;
}

a {
  color: #bfbfbf;
}

article > img {
  display: block;
  margin: 0 auto;
}

article > h1 {
  display: inline-block;
}

#snake-iframe {
  margin: 0 auto;
  display: block;
  background-color: white;
  height: 350px;
  width: 350px;
  border: none;
}

#burger-img-container {
  text-align: right;
}

/* 
####################
Loader CSS 
####################
*/

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #ffffff;
  position: absolute;
  top: 35%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  text-indent: -9999em;
  -webkit-transform: translateZ(0) translate(-50%, -50%);
  -ms-transform: translateZ(0) translate(-50%, -50%);
  transform: translateZ(0) translate(-50%, -50%);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

/* 
####################
Mobile CSS 
####################
*/

@media only screen and (max-width: 650px) {
  header {
    position: static;
    width: 100%;
    border-right: none;
    border-bottom: solid 2px #494949;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  header > h1 {
    margin-top: 20px;
  }

  header > div > a {
    display: none;
  }

  #project-list {
    display: none;
  }

  .contact-info {
    margin-right: 0;
  }

  #burger-img {
    display: none;
  }

  .content {
    padding-top: 0;
  }

  article {
    margin: 0;
    padding: 20px;
  }
  .top-nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .top-nav a {
    line-height: 30px;
    text-decoration: none;
    height: 30px;
    width: 50%;
    text-align: center;
    color: white;
    background-color: #03a9f9;
  }

  .top-nav a:nth-child(1) {
    border-right: solid 3px #131d27;
  }
}
